/*

navy: #022340;
blueGreen: #092C33;
lightBlue: #455959;
tan: #F2E1AA;
offWhite: #f2f2f2;

*/

* {
    box-sizing: border-box;
}
header {
    background-color: #022340;
    color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    box-shadow: 0px 5px 7px 0px rgba(2, 35, 64, 0.53);
    width: 100%;
}
main {
  padding-top: 133px;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
    font-weight: 400;
    color: #455959;
}
h1, h2, h3, h4 {
    line-height: 1.4;
    text-align: center;
}
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.75em;
    font-weight: 900;
    color: #022340;
    text-align: center;
}
h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    font-weight: 700;
    color: #092C33;
}
h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #092C33;
}
h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25em;
    font-weight: 700;
    color: #092C33;
}
img {
    width: 100%;
}


/* links */
a {
  color: #092C33;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #022340;
  text-decoration: underline;
}
a:visited {
  color: #455959;
}
a:active {
  color: #092C33;
  text-decoration: underline;
}




/* nav bar */
nav {
    display: inline-block;
    width: 100%;
}
nav > ul{
    list-style-type: none;
    padding: 0;
}
nav > ul > li{
    display: inline-block;
}
nav > ul > li > a {
  padding: 0 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f2f2f2;
}
nav > ul > li > a:visited {
  color: #f2f2f2;
}



/* content */
.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0;
}

#hero {
    text-align:center;
    background-color: #455959;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    color: #f2f2f2;
}
#hero h1 {
    color: #f2f2f2;
}
#hero h2 {
    color: #f2f2f2;
}
#hero p {
    font-size: 1.25em;
}


#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #455959;
}

/* buttons */
.button {
    display: inline-block;
    background-color: #092C33;
    color: #f2f2f2;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #022340;
    transition: 0.2s opacity;
    text-decoration: none;
}
.button:hover,
.button:focus {
    opacity: 0.8;
    text-decoration: none;
}
.button:visited {
    color: #f2f2f2;
    text-decoration: none;
}
.button:active {
    opacity: 0.5;
    text-decoration: none;
}

/* contact buttons */
.button.contact {
    font-weight: 700;
    background-color: transparent;
    color: #092C33;
    text-transform: uppercase;
    border: 2px solid #092C33;
}
.button.contact:hover {
    background-color: #092C33;
    opacity: 1;
    color: #f2f2f2;
}
.button.contact:active {
    opacity: 0.5;
    text-decoration: none;
}

footer {
    text-align: center;
}
.social {
    max-width: 64px;
    padding: 4px;
}
#linkedin {
    /* linkedin requires a larger size (1.16x larger than .social) due to the trademark symbol next to it */
    max-width: 75px;

}


.logo {
    max-width: 64px;
}
