/*

navy: #022340;
blueGreen: #092C33;
lightBlue: #455959;
tan: #F2E1AA;
offWhite: #f2f2f2;

*/

/* ~~ GENERAL STYLES */
* {
  box-sizing: border-box;
}
header {
    background-color: #022340;
    color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    box-shadow: 0px 5px 7px 0px rgba(2, 35, 64, 0.53);
    width: 100%;
}
main {
  padding-top: 184px;
}
body {
    font-family: montserrat, sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
    font-weight: 400;
    color: #455959;
    line-height: 1.5;

}
h1, h2, h3, h4 {
    line-height: 1.4;
    text-align: center;
        font-family: roboto-slab, sans-serif;
        font-size: 1.25em;
    color: #092C33;
    font-weight: 700;
}
h1 {
    font-size: 2.75em;
    font-weight: 900;
    line-height: 1;
}
h2 {
    font-size: 2em;
    line-height: 1.2;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
img {
    width: 100%;
    margin: auto;
}
li {
    padding: 15px 0;
}
footer {
    text-align: center;
}
a {
  color: #092C33;
  text-decoration: none;
}
a:visited {
  color: #092C33;
}
a:hover,
a:focus {
  color: #455959;
  text-decoration: underline;
}
a:active {
  color: #455959;
  text-decoration: underline;
}
/* ~~ NAV BAR */
nav {
    font-size: 1.1em;
    height: 75px;
}
nav > ul{
    list-style-type: none;
    padding: 0;
}
nav > ul > li{
    display: inline-block;
    width: auto;
}
nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f2f2f2;
  text-decoration:none;
  border-radius: 5px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
nav > ul > li > a:visited {
  color: #f2f2f2;
  text-decoration:none;
}
nav > ul > li > a:hover,
nav > ul > li > a:focus  {
    background-color: #f2f2f2;
    color: #022340;
    text-decoration:none;
}

/* ~~ GENERAL CLASSES */
.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.center {
    text-align: center;
}
.table-of-contents {
    line-height: 1;
}
.table-of-contents > ol {
    list-style-type: none;
    font-size: 0.9em;
    padding: 0 20px;
}
.table-of-contents > ol > li {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.25s ease-in, color 0.25s ease-in;
}
.table-of-contents > ol > li > a {
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.table-of-contents > ol > li:hover,
.table-of-contents > ol > li:focus {
    background-color: #F2E1AA;
}
/* ~~ HOME PAGE SECTIONS */
#hero {
    text-align:center;
    background-color: #455959;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    color: #f2f2f2;
}
#hero span {
  display: block;
}
#hero h1 {
    color: #f2f2f2;
}
#hero h2 {
    color: #f2f2f2;
}
#hero p {
    font-size: 1.25em;
}

#about h3 { margin-top: 0;}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #455959;
}
#pipette-wireframe-parent {
    max-height: 500px;
}
#pipette-wireframe {
    display: block;
    max-height: 500px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
/* ~~ ABOUT PAGE SECTIONS */
#my-picture {
    float: left;
    max-width: 256px;
    margin: 10px 20px;
}
#skills-tools > div > ul > li{
    padding: 5px 0;
}


/* ~~ PROJECT PAGE SECTIONS */
#overview {
    padding: 20px 0;
    width: 100%;
}
#goal {

    margin: auto;
    text-align: center;
}
#goal > div > p > span {
    font-size: 1.25em;
}

.summary-list {
    font-family: roboto-slab, sans-serif;
    font-size: 1.25em;
    font-weight: 700;
}
.summary-list > ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.summary-list > ol > li > ul {
    font-size: 0.85em;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

/* ~~ BUTTONS */
.button-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    display: inline-block;
    background-color: #092C33;
    color: #f2f2f2;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #022340;
    transition: opacity 0.25s;
    text-decoration: none;
    margin: auto;
    width: auto;
}
.button:visited {
    color: #f2f2f2;
    text-decoration: none;
}
.button:hover,
.button:focus {
    color: #f2f2f2;
    opacity: 0.7;
    text-decoration: none;
}
.button:active {
    opacity: 0.5;
    text-decoration: none;
}

.button.contact {
    font-weight: 700;
    background-color: transparent;
    color: #092C33;
    text-transform: uppercase;
    border: 2px solid #092C33;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
.button.contact:hover {
    background-color: #092C33;
    opacity: 1;
    color: #f2f2f2;
}
.button.contact:active {
    opacity: 0.5;
    text-decoration: none;
}

/* ~~ WIREFRAMES */
.wireframe {
    width: 100%;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: #022340;
}
.caption {
    font-family: roboto-condensed, serif;
    font-weight: 400;
    text-align: center;
    margin-top: 3px;
}
.prototype {
    width: 100%;
}
#turfquest-clickthru {
    display: none;
}
#turfquest-prototype {
    display: none;
    max-width: 375px;
    height: 812px;
}
.back-to-top {
    text-align: center;
    padding: 10px 0;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #455959;
}


/* ~~ APP ICONS */
.logo-parent {
    display: inline-block;
    width:100%;
}
.rounded-logo {
    display: block;
    max-width: 64px;
    margin-left: auto;
    margin-right: auto;
}
.social-logo {
    display: inline-block;
    max-width: 48px;
    margin: 25px 10px 10px 10px;
}
#linkedin {
    /* linkedin requires a larger size (1.16x larger than .social) due to the trademark symbol next to it */
    max-width: 56px;
}
[class*="col-"] {
    float: left;
    padding: 0 10px 0;
}

.logo {
    max-width: 64px;
}

/* SVG ILLUSTRATION */
.berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.sun {
    animation: 4s color-change infinite alternate linear;
}
.cloud-front {
    animation: 20s cloud-move infinite alternate linear;
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: right;
    }
    nav > ul {
        margin: auto;
    }
    nav > ul > li > a {
        font-size: 1.35em;
        padding: 15px;
    }
    main {
      padding-top: 108px;
    }
    body {
        font-size: 18px;
    }
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .table-of-contents > ol {
        list-style-type: none;
        font-size: 1.1em;
        padding: 0 40px;
    }


    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
    #turfquest-clickthru {
        display: initial;
    }
    #turfquest-prototype {
        display: initial;
    }
    #goal {
        width: 75%;
    }

}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
