/*

navy: #022340;
blueGreen: #092C33;
lightBlue: #455959;
tan: #F2E1AA;
offWhite: #f2f2f2;

*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
    font-weight: 400;
    color: #455959;
}
h1, h2, h3, h4 {
    line-height: 1.4;
}
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.75em;
    font-weight: 900;
    color: #092C33;
}
h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    font-weight: 700;
    color: #092C33;
}
h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #092C33;
}
h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25em;
    font-weight: 700;
    color: #092C33;
}
img {
    width: 100%;
}


a {
  color: #092C33;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #022340;
  text-decoration: underline;
}
a:visited {
  color: #455959;
}
a:active {
  color: #092C33;
  text-decoration: underline;
}


.button {
    display: inline-block;
    background-color: #092C33;
    color: #f2f2f2;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #022340;
    transition: 0.2s opacity;
    text-decoration: none;
}
.button:hover,
.button:focus {
    opacity: 0.8;
    text-decoration: none;
}
.button:visited {
    color: #f2f2f2;
    text-decoration: none;
}
.button:active {
    opacity: 0.5;
    text-decoration: none;
}


.button.contact {
    font-weight: 700;
    background-color: transparent;
    color: #092C33;
    text-transform: uppercase;
    border: 2px solid #092C33;
}
.button.contact:hover {
    background-color: #092C33;
    opacity: 1;
    color: #f2f2f2;
}
.button.contact:active {
    opacity: 0.5;
    text-decoration: none;
}
